.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials::after{ 
    background-image: url("../../../public/images/testimonials-bg.png"); 
}

.testimonials .box{
    max-width: 60%;
  
}

.testimonials i{
    background-color: var(--white);
    font-style: 20px;
    padding: 15px;
    margin: 30px 0;
    color: var(--primaryColor);
    display: inline-block;
}

.testimonials .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid var(--primaryColor);
}

.testimonials img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}
label{
    color: var(--primaryColor);
    margin: 10px 0;
    display: inline-block;
}